swagger: "2.0"
info:
  title: MICM Fuels Prices
  description: This API offers all fuels prices offered by the MICM on a weekly basis, we update this information every friday for you to have an up to date information on fuels.
  version: "1.0"
host: api3.indexa.do
basePath: /api
schemes:
  - https
produces:
  - application/json
paths:
  /fuels:
    get:
      summary: Get fuels prices from MICM
      operationId: getFuelsPrices
      parameters:
        - in: query
          name: date
          type: string
          format: date
          required: false
          description: "Sample: 2020-02-15"
        - in: query
          name: name
          type: string
          required: false
          description: "Sample: GasolinaPremium"
        - in: query
          name: date_from
          type: string
          format: date
          required: false
          description: "Sample: 2020-02-15"
        - in: query
          name: date_to
          type: string
          format: date
          required: false
          description: "Sample: 2020-03-09"
      responses:
        200:
          description: Prices have been retrieved successfully.
        401:
          description: Your token is not registered.
        402:
          description: Your token does not have access to this resource.
        403:
          description: No access token provided.
        404:
          description: Date format must be YYYY-MM-DD
        405:
          description: date argument cannot be combined with date_from or date_to arguments.
        406:
          description: No argument provided
        407:
          description: Your user does not have access to historic data.
        
      security:
      - access_token: []
securityDefinitions:
  access_token:
    type: "apiKey"
    name: "x-access-token"
    in: "header"
